*{
    padding: 0;
    margin: 0;
}
/* particles js css properties */
#particles-js{
    background-image: url("intro4.jpg");
    /* background:#333; */
    background-size: cover;
    background-position: center;
    height: 100vh;
    
  }

.form_bg {
    background-color:#130912;
    opacity: 0.9;
    color:#666;
    padding:20px;
    border-radius:10px;
    position: absolute;
    border:1px solid #fff;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 320px;
    height: 300px;
}

.align-center {
    text-align:center;
}

.head-logo{
    padding-bottom: 20px;
}

div {
    overflow-y: hidden;
}